/* Importing wallust colors — matches Rofi color palette */
@import '../../.config/waybar/wallust/colors-waybar.css';

window {
    font-size: 13pt;
    font-family: "JetBrainsMono Nerd Font";
    color: @foreground;
    background-color: rgba(17, 18, 19, 0.75);
}

button {
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 26%;
    background-color: @color0;
    color: @foreground;
    transition: background-color 0.15s ease, color 0.15s ease;
    border-radius: 10px;
    border: 1px solid transparent;
    outline-style: none;
}

button:focus {
    background-color: @color0;
    border: 1px solid @color12;
    outline-style: none;
}

button:hover {
    background-color: @color12;
    color: @background;
    background-size: 26%;
    border-radius: 10px;
    outline-style: none;
}

button span {
    font-size: 0.9em;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}
